<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">


    <title>Testing</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">

</head>

<body>
    <header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="{% static 'images/logo.png' %}" alt="" />
				</a>

				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="/">Главная</a></li>
						<li class="nav-item"><a class="nav-link" href="/reserv">Резервация</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

        {% block body %}
             <h1>Default body</h1>
        {% endblock %}

    <!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="overflow-hidden">
						<h4>Телефон</h4>
						<p class="lead">
							+792525425654
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							yamifood@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Адресс</h4>
						<p class="lead">
							Москва, ул.Волхонка 80
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->

	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>Время когда мы открыты</h3>
					<p><span class="text-color">Понедельник: </span>Закрыты</p>
					<p><span class="text-color">Чт-Пт :</span> 9:00 - 22:00</p>
					<p><span class="text-color">Выходные:</span> 12:00 - 24:00</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Контакты</h3>
					<p class="lead">Москва, ул.Волхонка 80</p>
					<p class="lead"><a href="#">+792525425654</a></p>
					<p><a href="#">yamifood@gmail.com</a></p>
				</div>

			</div>
		</div>

	</footer>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'js/jquery.superslides.min.js' %}"></script>
	<script src="{% static 'js/images-loded.min.js' %}"></script>
	<script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
