{% extends 'base.html' %}
{% load static %}

{% block body %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Reservation</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->

	<!-- Start Reservation -->
	<div class="reservation-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Reservation</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="contact-block">
						<form method="post">
                              {% csrf_token %}
                            {{ form.as_p }}
							<div class="row">
                                <div id="form_container">

                                    <div class="form-actions form-group ">
                                      <button type="submit" class="form-control btn btn-success">Отправить</button>
                                    </div>

                                </div>

                                </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
